@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	position: relative;
	height: 100%;
	font-size: 16px;
}

html, body, span, p, div, h1, h2, h3, h4, h5, h6, a, ul, ol, li, th, td, dt, dl, dd, b, strong, i {
	font-family: 'Raleway', 'Open Sans', 'helvetica', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

pre, code, code span {
	font-size: 14px;
	font-family: 'Consolas', sans-serif !important;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
}

#wrapper {
	padding-bottom: 40px;
}

.header {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #efefef;
	text-align: center;
}

.header h1 {
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 400;
	color: #333333;
}

.article {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #efefef;
	text-align: center;
}

.article > h3 {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	font-weight: 500;
	font-size: 22px;
}

.article > h3 span {
	position: relative;
	z-index: 10;
}

.article > h3:after {
	display: block;
	position: absolute;
	content: '';
	height: .3em;
	border-radius: 0 .3em .3em 0;
	top: 50%;
	margin-top: -.15em;
	right: -2em;
	left: 20%;
	background-color: #e1fff4;
}

.article :not(pre) > code[class*="language-"], .article pre[class*="language-"] {
	background-color: #f5f6f9;
	padding: 1.6em 2em !important;
}

.token.function,
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
	color: #ff4848;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	color: #0040df;
}

.token.punctuation {
	color: #00abb2;
}

.token.atrule, .token.attr-value, .token.keyword {
	color: #626368;
}