.pignose-gallery {
	position: relative;
	background-color: #000000;
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .75);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .75);
}

.pignose-gallery .pignose-gallery-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	opacity: 0;
	overflow: hidden;
}

.pignose-gallery .pignose-gallery-item img {
	width: 100%;
}

.pignose-gallery .pignose-gallery-item.anim-start {
	display: block;
	transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
}

.pignose-gallery .pignose-gallery-item.active {
	opacity: 1;
}

.pignose-gallery .pignose-gallery-thumbnails {
	position: absolute;
	padding: 6px 0;
	font-size: 0;
	background-color: rgba(0, 0, 0, .6);
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-gallery .pignose-gallery-thumbnails a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 6px;
	padding: 0;
	font-size: 0;
	position: relative;
	vertical-align: middle;
}

.pignose-gallery .pignose-gallery-thumbnails a .pignose-gallery-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: border-color .3s ease;
	-o-transition: border-color .3s ease;
	-moz-transition: border-color .3s ease;
	-webkit-transition: border-color .3s ease;
}

.pignose-gallery .pignose-gallery-thumbnails a .pignose-gallery-border.active {
	border-color: rgba(32, 255, 192, .8);
}

.pignose-gallery .pignose-gallery-thumbnails a img {
	max-height: 60px;
	vertical-align: middle;
}